### Operacje arytmetyczne

Porozmawiajmy nieco więcej o typach danych numerycznych i tym, w jaki sposób matematyka została zaimplementowana w ekosystemie Pythona.

### int


##### Typ int

Typ int, czyli liczby całkowite składają się z liczb od 0 do 9 i mogą zostać poprzedzone znakiem + lub -. Nie mają żadnych limitów, jeżeli chodzi o wielkość liczby, jaką chcemy wprowadzić, jedyna rzecz jaka nas ogranicza to pamięć naszego komputera.

##### Funkcja int

*int()* to funkcja, która zwraca obiekt typu integer z danego typu **string** lub dowolnej liczby. 
Funkcja int() przyjmuje dwa argumenty:

* Liczbę lub napis, który ma być zmieniony w obiekt typu **int**. (Domyślnie 0)
* System liczbowy, jaki ma reprezentować obiekt typu **int**. (Od 2 do 36)

In [ ]:
406

In [ ]:
-395

In [ ]:
+3956

In [ ]:
+467 - 506

Python radzi sobie z kolejnością wykonywania działań - widzi, kiedy operatory odejmowania stworzą dodawanie, ale i tak należy uważać.

In [ ]:
+40 - -36 # Jaki moze byc wynik takiego dzialania?

Konwersja z systemu dwójkowego na system dziesiętny.

int("1010", 2)

Konwersja z typu **string** na typ **int**

In [ ]:
int("394") # Spodziewamy się int

In [ ]:
type(1) # Spodziewamy sie int

Kiedy definiujemy naprawdę duże liczby możemy posiłkować się operatorem "_" aby oddzielać kolejne trzy cyfry od siebie. Ma to wpływać tylko i wyłącznie na czytelność zapisu.

In [ ]:
1_000_000

In [1]:
type(1_000_000) # Spodziewamy sie int

int

### float

##### Typ float

Typ float, czyli liczby zmiennoprzecinkowe - w momencie, kiedy zdefiniujemy ekstremalnie "małe" lub "duże" liczby, to zostaną one konwertowane do notacji naukowej.

##### Funkcja float

*float()* to funkcja, która zwraca obiekt typu float z danego typu **string** lub dowolnej liczby. Przyjmuje jeden argument:

* Liczbę, lub napis, które mają być konwertowane na typ float. Jeżeli argumentem wejściowym jest string, wtedy powinien zawierać miejsca dziesiętne.

In [5]:
193.549

193.549

type(193.549)

In [7]:
float("123.56")

123.56

In [8]:
float(153.5435)

153.5435

In [9]:
float(2348389573489573489573894789467567498698746948190248903289035.234)

2.3483895734895735e+60

In [10]:
float(00000000000000000000000000000000000000.000069549068)

6.9549068e-05

Bardzo ciekawy przykład, w którym nieprecyzyjnie obliczany jest wynik operacji dodawania. Odsyłam do dokumentacji Pythona: https://docs.python.org/3/tutorial/floatingpoint.html i StackOverflow: https://stackoverflow.com/questions/588004/is-floating-point-math-broken gdzie wszystko jest dużo lepiej wyjaśnione - mimo wszystko, w dużym skrócie chodzi o zapis niektórych liczb w pamięci komputera za pomocą notacji IEE 754.

In [13]:
3.14 + 1

4.140000000000001

#### Spróbujmy teraz pomieszać typy zmiennych i zobaczyć, co z tego wyjdzie:

In [21]:
zmienna_int_a = 50
zmienna_float_b = 60.813
zmienna_str_c = "abc"

In [16]:
zmienna_int_a + zmienna_float_b

110.813

Dodając do siebie typ danych **int** i **float** naszym wynikiem będzie typ **float**

In [19]:
type(zmienna_int_a + zmienna_float_b) # Spodziewamy sie float

float

W tym przypadku próbujemy dodać do siebie typ **string** i **int**, wynikiem takiego działania będzie błąd.

In [ ]:
zmienna_int_a + zmienna_str_c # Spodziewamy się błędu TypeError

A w tym przypadku próbujemy pomnożyć przez siebie typ **string** i **int**. Tutaj wynikiem nie będzie już błąd, a napis "abc" powtórzony 50 razy, ponieważ taka jest wartość zmiennej zmienna_int_a.

In [23]:
zmienna_int_a * zmienna_str_c

'abcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabc'

Co może się stać tutaj? Wynikiem mnożenia typu **float** przez **string** jest TypeError mówiący, że nie można przemnożyć sekwencji przez liczbę zmiennoprzecinkową.

In [ ]:
zmienna_float_b * zmienna_str_c # Spodziewamy się błędu TypError

### Operacje arytmetyczne

* "+" Aby dodać do siebie obiekty,
* "-" Aby odjąć od siebie obiekty,
* "*" - Aby przemnożyć przez siebie obiekty,
* "/" - Aby podzielić przez siebie obiekty,
* "**" - Aby podnieść do potęgi obiekty,
* "//" - W przypadku **float** przybliża wynik dzielenia do zera. W przypadku **int** da tylko część wyniku (bez zaokrąglania)
* "%" - Aby uzyskać resztę z dzielenia

In [26]:
50 + 50

100

In [27]:
50 - 45

5

In [28]:
50 * 5

250

In [29]:
50 / 5

10.0

In [30]:
5 ** 2

25

In [31]:
5 // 3

1

In [32]:
4.5 // 1.3

3.0

In [33]:
9 % 2

1